:root{
    --dark-primary-bg-color:#1d2743;
    --dark-secondary-bg-color:#080b13;
    --dark-primary-hover-bg-color:#1f2638;
    --dark-alternate-bg-color:#7798f6;
    --dark-third-bg-color: rgb(57 66 93 / 38%);
    --dark-default-text-color:rgb(255 255 255 / 90%);
    --dark-success-color:#09ca09;
    --dark-danger-color:#ff5564;
    --dark-heading-color:#1d2743;
    --dark-primary-text-color:#bebebe;
    --dark-default-border-color: rgb(243 243 243 / 29%);
    --default-font: 'Roboto', sans-serif;
    --default-top-bar-height:54px;
}
.wrapper{
    position: relative;
    top: 0;
    height: 100vh;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}
.app-dark{
    background: var(--dark-secondary-bg-color);
    color: var(--dark-default-text-color);
    font-family: var(--default-font);
}
body{
    font-weight: 300;
}
.app{
    font-weight: 300;
    height: 100%;
    position: fixed;
    width: 100%;
    overflow: auto;
}
.app-dark .sidebar{
    background: var(--dark-primary-bg-color);
}
.app-dark .sidebar .menu-label .label{
    color:#ffffff;
}
.app-dark .sidebar .menu-label .icon{
    color:#ffffff;
}
.app-dark .sidebar .sidebar-menu .menu-item:hover{
    background-color: var( --dark-secondary-bg-color);
}
.app-dark .sidebar .sidebar-menu .menu-item.focused{
    background-color: var( --dark-secondary-bg-color);
}
.app-dark .sidebar .sidebar-menu .menu-item:hover .menu-label .label, .app-dark .sidebar .sidebar-menu .menu-item:hover .menu-label .icon{
    color:#ffffff;
}
.app-dark .sidebar .active-account{
    color: var(--white);
}
.app-dark .sidebar .active-account:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgb(243 243 243 / 17%);
}
.app-dark .btn-link{
    color: #43aaff;
    border:0;
    outline: 0;
}

.app-dark .card{
    background-color: var(--dark-primary-bg-color);
    box-shadow: 1px 0px 30px 13px rgb(0 45 110 / 24%);
}
.app-dark .card .card-header{
    background-color: var(--dark-third-bg-color);
}
.app-dark .card .card-title{
    color: var(--dark-primary-text-color);
}
.app-dark .card .card-footer, .app-dark .card .card-header{
    border-color: var(--dark-default-border-color);
}
.app-dark .card .card-footer:hover{
  background-color: var(--dark-primary-hover-bg-color);
}
.app-dark .sidebar .brand, .app-dark .topbar .brand{
    color: var(--dark-default-text-color);
    background: var(--dark-alternate-bg-color);
}
.app-dark .table-dark{
    background-color: var(--dark-primary-bg-color);
}
.app-dark .table-dark td, .app-dark .table-dark th, .app-dark .table-dark thead th{
    border-color: var(--dark-default-border-color);
}
.app-dark .table-dark thead th{
    background-color: var(--dark-third-bg-color);
}

.app-dark .form-control{
    border: 1px solid var(--dark-default-border-color);
    background-color: var(--dark-secondary-bg-color);
    color:var(--dark-default-text-color);
}
.app-dark .dropdown-menu{
    background: var(--dark-secondary-bg-color);
    border: 1px solid var(--dark-default-border-color);
    color:var(--dark-default-text-color)
}
.app-dark .btn.btn-primary{
    background-color: #3358f4 !important;
    background-image: linear-gradient(to bottom left, #3a83ca, #3358f4, #1d8cf8) !important;
    background-image: -webkit-linear-gradient(to bottom left, #3a83ca, #3358f4, #1d8cf8) !important;
    background-image: -o-linear-gradient(to bottom left, #3a83ca, #3358f4, #1d8cf8) !important;
    background-image: -moz-linear-gradient(to bottom left, #3a83ca, #3358f4, #1d8cf8) !important;
}
.app-dark .btn.btn-primary:hover{
    background-color: #3358f4 !important;
    background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #3a83ca) !important;
    background-image: -webkit-linear-gradient(to bottom left, #1d8cf8, #3358f4, #3a83ca) !important;
    background-image: -o-linear-gradient(to bottom left, #1d8cf8, #3358f4, #3a83ca) !important;
    background-image: -moz-linear-gradient(to bottom left, #1d8cf8, #3358f4, #3a83ca) !important;
}
.dropdown .dropdown-item:hover .icon{
    margin-right: 10px;
}
.dropdown .dropdown-item{
    font-weight: 300;
    color: var(--dark-default-text-color);
    font-size: 15px;
    padding: 6px 18px;
    transition: all 0.2s ease-in-out;
}
.dropdown-item > .icon{
    margin-right: 7px;
    transition: all 0.2s ease-in-out;
}
.app-dark .dropdown-item:focus, .app-dark .dropdown-item:hover{
    color: var(--dark-default-text-color);
    text-decoration: none;
    background-color: var(--dark-primary-bg-color);
}
.app-dark .alert{
    color:var(--dark-default-text-color);
    font-weight: 300;
    border-left:5px solid var(--dark-default-border-color);
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.app-dark .card .alert{
    border: 1px solid var(--dark-default-border-color);
    border-left-width: 5px;
    background: var(--dark-primary-hover-bg-color);
}
.app-dark .alert.alert-success{
    color: var(--dark-success-color);
}
.app-dark .alert.alert-danger{
    color: var(--dark-danger-color);
}
.app-dark .alert{
    background-color: var(--dark-primary-bg-color);
}
.table{
    margin-bottom: 0;
}
.table thead th:first-child{
    min-width:50px;
}
.table thead th{
    border:0;
    min-width:100px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.table.blank td:hover{
    background-color: var(--dark-primary-bg-color);
}
.app-dark .table-dark tr td{
    border-bottom: var(--dark-default-border-color);
}
.card .card-body{
    padding: 18px 22px;
}
.card.card-stats .card-footer{
    padding: 9px 22px;
    font-size: 13px;
}
.card.card-stats .card-footer .link:hover{
    text-decoration: none;
}
.card.card-stats .card-footer .link{
    color: var(--dark-primary-text-color);
}
.card-stats .icon{
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-stats .icon.icon-primary{
    background: #00f2c3;
    background-image: -webkit-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
    background-image: -o-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
    background-image: -moz-linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
    background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
}
.card-stats .icon.icon-info{
    background: #ff8d72;
    background-image: -webkit-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
    background-image: -o-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
    background-image: -moz-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
    background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
}
.card-stats .icon.icon-note{
    background: #e14eca;
    background-image: -webkit-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: -o-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: -moz-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}
.card-stats .icon.icon-warning{
    background: #fd5d93;
    background-image: -webkit-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
    background-image: -o-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
    background-image: -moz-linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
    background-image: linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93);
}
.card .card-title{
    font-weight: 300;
    margin-bottom: 0rem;
    font-size: 0.8rem;
}

.card .card-footer{
    padding: 18px 22px;
}
.card .card-number{
    font-size: 2rem;
    font-weight: 300;
}
.sidebar .active-account{
    position: relative;
}

.sidebar .brand, .topbar .brand{
    display: flex;
    align-items: center;
    padding: 13px 23px;
    font-size: 18px;
    height:var(--default-top-bar-height);
    font-weight: 400;
}
.sidebar .brand:hover{
    text-decoration: none;
}
.sidebar .brand .icon{
    margin-right: 7px;
}
.sidebar .active-account .account{
    display: flex;
    align-items: center;
    padding: 18px 20px;
    font-weight: 300;
}
.sidebar .active-account .account .icon{
    display: flex;
    align-items: center;
    margin-right: 7px;
}
.app .sidebar-close{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 900;
    background-color: #040404;
    opacity: 0.6;
}
.app .sidebar-close-button .button{
    position: fixed;
    right: 0px;
    top: 0px;
    background: var(--dark-alternate-bg-color);
    width: 70px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 991;
    font-size: 20px;
    border-left: 1px solid #ffffff;
}

.app .show{
    display: block;
}
.dashboard .card{
    margin-top:10px;
    margin-bottom:10px;
}
.sidebar{
    position: fixed;
    height: 100%;
    z-index: 1;
    overflow: auto;
    z-index: 991;
}
.title-container.main:before{
    content: '';
    position: absolute;
    background-color: var(--dark-primary-bg-color);
    width: 7px;
    height: 37px;
    left: -5px;
}

.table::-webkit-scrollbar-button, main::-webkit-scrollbar-button, .sidebar::-webkit-scrollbar-thumb{
    color:#000;
    background-color: var(--dark-alternate-bg-color);
}
main::-webkit-scrollbar-track, .app::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track, .table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,0.3);
    background-color: var(--dark-primary-bg-color)

}

main::-webkit-scrollbar, .app::-webkit-scrollbar, .sidebar::-webkit-scrollbar, .table::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

main::-webkit-scrollbar-thumb, .app::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb, .table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--dark-alternate-bg-color);
}

.title-container.main .head{
    font-size: 32px;
}
.title-container.main{
    margin-bottom:1.5rem;
}

.app-dark .topbar{
    background-color: var(--dark-primary-bg-color);
    /* padding: 0 18px; */
    height:var(--default-top-bar-height);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 995;
    -webkit-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
    -webkit-box-shadow: 4px 0 5px rgba(0,0,0,0.08);
    box-shadow: 4px 0 5px rgba(0,0,0,0.08);
}
.app .ti-trash{
    color:var(--dark-danger-color);
}
.app .ti-trash:hover{
    text-decoration: none;
}
.app .table .ti-pencil-alt{
    color:var(--dark-success-color);
}
.topbar .topbar-right{
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}
.topbar-btns{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.topbar-btns .dropdown.user .dropdown-item{
    display:flex;
    align-items: center;
}
.topbar-btns .topbar-btn{
    font-size: 1.125rem;
    min-width: 48px;
    color: rgba(77,82,89,0.4);
}

.dropdown .dropdown-button{
    display: inline-block;
    line-height: var(--default-top-bar-height);
    padding: 0 12px;
    text-align: center;
    color: var(--dark-default-text-color);
    cursor: pointer;
    min-width: 48px;
    white-space: nowrap;
    border: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    position: relative;
    z-index: 989;
    background-color: var(--dark-third-bg-color);
}
.dropdown .dropdown-toggle:hover{
    background-color: var(--dark-primary-hover-bg-color);
}
.topbar .topbar-cols{
    display: flex;
}
#app .navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-brand .icon{
    margin-right: 7px;
}

.sidebar .sidebar-menu{
    padding:0px;
}
.sidebar .sidebar-menu .menu-item .menu-label .icon{
    display: flex;
    align-items: center;
    transition: inherit;
}
.sidebar .sidebar-menu .menu-item .menu-label .label{
    margin-left:10px;
    transition: inherit;
    font-weight: 300;
}
.sidebar .sidebar-menu .menu-item .menu-label{
    display: flex;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 29px;
    padding-right: 10px;
    transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-menu .menu-item .menu-label{
    text-decoration:none;
}

.sidebar .sidebar-menu .menu-item:hover .menu-label .icon{
    margin-left: 10px;
}

td .delete{
    max-height:20px;
}
.delete svg{
    cursor: pointer;
}
.hidden{
    display:none;
}
.main-panel{
    background-color: var(--dark-secondary-bg-color);
    height: 100%;
    max-height: 100%;
    position: relative;
    overflow: auto;
}
.form-control{
    min-height: 42px;
    font-weight:300;
    font-size: 14px;
    letter-spacing: 1px;
}
.form-control option{
    letter-spacing: 0.5px;
}
.btn, .form-control option{
    font-weight: 300;
}
.alert{
    font-weight: 400;
    font-size: 14px;
}
.alert ul{
    margin:0;
}
.topbar .topbar-left .brand{
    position: relative;
    padding-left: 10px;
}
.topbar .topbar-left .brand .icon{
    position: relative;
    top: -2px;
}
.topbar .dropdown{
    z-index: 1;
}
.topbar .dropdown .dropdown-button .avatar{
    width: 40px;
    height: 40px;
}
.topbar .dropdown .dropdown-toggle:after{
    display: none;
}
.profile .avatar img{
    z-index: 989;
    position: relative;
    height: 90px;
    width: 90px;
}
.profile .avatar .form-group, .profile .avatar .form-group input{
    height: 90px;
    width: 106px;
    cursor: pointer;
}
.profile .avatar .form-group{
    opacity: 0;
    position: absolute;
    left: -6px;
    z-index: 990;
}
.profile .edit-icon{
    position: relative;
    left: -13px;
    z-index: 989;
    top: -24px;
    background: var(--dark-primary-bg-color);
    color: var(--dark-default-text-color);
    padding: 1px 4px;
    font-size: 14px;
    border: 1px solid var(--dark-default-border-color);
}
.profile .edit-icon .icon{
    color: var(--dark-danger-color);
    font-size: 13px;
}

@media (max-width:600px){
    .sidebar{
        display:none;
    }
    .sidebar{
        width: 100%;
        max-width:250px;
    }
    .main-panel .content{
        padding:1rem 0.2rem;
    }
    .topbar .topbar-left{
        display: block;
    }
    .topbar .topbar-left .brand{
        display: block;
    }
}
@media (min-width:601px){
    .main-panel .content{
        padding:1rem;
    }
    .topbar .topbar-left{
        display: none;
    }
}
@media (min-width:768px){
    .main-panel .content{
        padding:1.5rem;
    }
    .main-panel{
        float: right;
        width: calc(100% - 260px);
    }
    .sidebar{
        width: 260px;
    }
}
